/* RESET STYLES */

@import url("reset.css");
/*------------------------------
               GENERAL
--------------------------------*/
html{height: 100%}
body{
    font-family: Century Gothic, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}

/*-------------------------------
            HEADER
---------------------------------- */

header {
    background-color: #7D1128;
    display: inline-block;
    width: 85%;
    margin-left: 15%;
    position: fixed;
}


Header img{
    height:70px;
    width: 90px;
    margin:10px;
    float: left;
}

Header h1{
    font-size: 250%;
    font-weight: bold;
    text-shadow: 1px 1px 1px ;
    color: white;
    padding-left: 20px;
    float: left;
    padding-bottom: 30px;
    padding-top: 30px;

}


/*---------------------------------
            NAVIGATION
 -----------------------------------*/

nav {
    display: inline-block;
    float: left;
    width: 15%;
    height: 100%;
    background-color: #CEBEBE;
    position: fixed;
    padding-top: 60px;

}

Nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #7D1128;
    display: block;
}

Nav a:hover,  a:focus{
    color: #f1f1f1;
}

/*------------------------------------
            CONTENT
 -------------------------------------*/

main .content {
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 15%;
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
    margin-top: 7%;
    padding-bottom: 3%;

}

main .content h1 {
    font-size: 150%;
    margin: 1%;
    padding-top: 1%;
}

main .content p {
    padding: 5px;
}

main .content img {
    width: 95%;
    padding-left: 3%;
    padding-top: 2%;

}

/*
            -TEXT1-
*/

main .content .text1 {
    display: inline-block;
    float: left;
    width: 50%;
}

/*
            -TEXT2-
*/

main .content .text2 {
    display: inline-block;
    float: right;
    width: 50%;
}




