/* Large desktops and laptops */
@media (min-width: 1200px) {
    .col-md-2{
        height: 100%;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-2{
        height: 100%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-2{
        height: 50%;
    }
    #accordion {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .col-md-2{
        height: 50%;
    }
    #accordion {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .col-md-2{
        height: 50%;
    }
    #accordion {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

#logicDiagram {
    background-color: #CEBEBE;
    border: solid 1px black;
}

#ANDtutorial {
    background-color: #CEBEBE;
    border: solid 1px black;
}

#ORtutorial {
    background-color: #CEBEBE;
    border: solid 1px black;
}

#NOTtutorial{
    background-color: #CEBEBE;
    border: solid 1px black;
}

#accordion .ui-accordion-content {
    height: 80%;
    text-align: center;
}

#accordion .ui-accordion-header {
    max-height: 10%;
}

#contextMenu {
    z-index: 300;
    position: absolute;
    left: 5px;
    border: 1px solid #444;
    background-color: #F5F5F5;
    display: none;
    box-shadow: 0 0 10px rgba( 0, 0, 0, .4 );
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#contextMenu ul {
    list-style: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#contextMenu li a {
    position: relative;
    min-width: 60px;
    color: #444;
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
}

#contextMenu li:hover {
    background: #CEDFF2;
    color: #EEE;
}

#contextMenu li ul li {
    display: none;
}

#contextMenu li ul li a {
    position: relative;
    min-width: 60px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
}

#contextMenu li:hover ul li {
    display: block;
    margin-left: 0;
    margin-top: 0;
}

#infoContainer {
    z-index: 300;
    position: absolute;
    left: 5px;
}

#infoBox {
    border: 1px solid #999;
    padding: 8px;
    background-color: ghostwhite;
    opacity:0.9;
    position: relative;
    width: 170px;
    //height: 60px;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
}