#logicDiagram {
    width: 500px;
    height: 500px;
    background-color: #CEBEBE;
    border: solid 1px black;
}

#gateMenu {
    height: 500px;
    border: solid 1px black;
}

#ioMenu {
    height: 500px;
    border: solid 1px black;
}

button {
    display: block;
    width: 100px;
    padding: 30px;
    margin: 5px;
}