#logicDiagram {
    height: 500px;
    background-color: #CEBEBE;
    border: solid 1px black;
}

#gateMenu {
    height: 390px;
    width: 160px;
}

#ioMenu {
    height: 390px;
    width: 160px;
}

button {
    display: block;
    width: 100px;
    padding: 30px;
    margin: 5px;
}

#accordion .ui-accordion-content {
    max-height: 390px;
}